# Yarn 2
/.yarn/*
!/.yarn/plugins
!/.yarn/releases
!/.yarn/scripts
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!/.yarn/cache
#/.pnp.*

# Spago and Purescript
/output/
/.psc*
/.purs*
/.spago

# VSCode
/*.code-workspace
